<p-menubar [model]="items">    
    <ng-template pTemplate="start">
    <a routerLink="/">
        <img src="assets/components/images/online-shopping3.svg" height="40" class="p-mr-2">
    </a>
    </ng-template>
    
    <ng-template pTemplate="end">

        <form #search = "ngForm" (ngSubmit)=(searchIt()) autocomplete="false">
            <button routerLink="/cart" pbutton="" pripple="" type="button" icon="pi pi-shopping-cart" class="p-button-rounded p-button-info p-ripple p-button p-component p-button-icon-only">
                <span class="p-button-icon pi pi-shopping-cart" aria-hidden="true"></span>
                <span aria-hidden="true" class="p-button-label"></span>
                <span class="p-ink" style="height: 42px; width: 42px; left: -4px; right: 4px"></span>
            </button>

            <input type="text" id="search-input" name="search" [(ngModel)]="searchProduct"  pInputText class="p-inputtext p-component ng-pristine ng-valid ng-touched" placeholder="Search">            
            <button type="submit" value="search" id="search" pButton class="p-button-rounded p-button-info p-ripple p-button p-component p-button-icon-only">
                <span class="p-button-icon pi pi-search" aria-hidden="true"></span><span aria-hidden="true" class="p-button-label"></span>
                <span class="p-ink" style="height: 42px; width: 42px; top: 1.19997px; left: 2px;">
                </span>
            </button>

            <button routerLink="/login" pripple="" type="button" class="p-ripple p-button p-component" [hidden]="loggedIn"><!---->
                <span class="p-button-icon p-button-icon-left ng-star-inserted pi pi-user-plus" aria-hidden="true"></span><!---->
                <span class="p-button-label ng-star-inserted" aria-hidden="false">Login</span><!----><!---->
                <!-- <span class="p-ink" style="height: 93px; width: 93px; top: -31.2749px; left: 14.5px;"></span> -->
            </button>
            <button routerLink="/" pripple="" type="button" class="p-ripple p-button p-component" (click)="logout()" [hidden]="!loggedIn"><!---->
                <span class="p-button-icon p-button-icon-left ng-star-inserted pi pi-user-minus" aria-hidden="true"></span><!---->
                <span class="p-button-label ng-star-inserted" aria-hidden="false">Logout</span><!----><!---->
                <!-- <span class="p-ink" style="height: 93px; width: 93px; top: -31.2749px; left: 14.5px;"></span> -->
            </button>
            
        </form>
    </ng-template>
</p-menubar>


